* TODO Interrupció                  :interrupcio:
  :LOGBOOK:
  :END:
  :PROPERTIES:
  :TIPUS:     %?
  :DCREACIO:  %U
  :USUARI:    bbdb:
  :END:

- tags (C-c C-q) si escau
- tipus (C-c C-x p) consulta/peticio/incident
- canviar estat (C-c C-t) PAUS/WAIT/DONE/CANC
- si no està tancada canviar titol
